/* Premium Interviews CSS */

.badge-yellow {
    background-color: #fefce8;
    color: #ca8a04;
}

.badge-green {
    background-color: #f0fdf4;
    color: #16a34a;
}

.badge-red {
    background-color: #fef2f2;
    color: #dc2626;
}